<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"> 
	<meta name="author" content="Jonathan Lindstrom">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <title>Jonathan Lindstrom</title>
</head>
<body>
    <header>
        <h1 id="webName">Jonathan Lindstrom</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="CV.html">Full CV</a>
            <a href="contact.html">Contact Info</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2 id = "greeting">Hey my name is Jonathan!</h2>
        <img class = "classA" src = "../static/Images/lindstrom_jonathan.JPEG" alt = "Jonathan Lindstrom">
        <div class = "classA">
            <p  id = "shortIntro">Hey there! I'm Jonathan M. Lindstrom, a student at Carnegie Mellon University studying Information Systems and Human-Computer Interaction. I'm also a member of the university's Swim and Dive Team, where I've been fortunate to earn honors like CSCAA All-American and UAA All-Academic recognition.

                In my studies, I've really gotten into human-centered design, wireframing, and programming languages like HTML5, CSS3, and Python. I've had some cool experiences too, like being a Teaching Assistant for Database Design & Development, where I helped students grasp SQL fundamentals and safe data management practices.
                
                Last summer, I worked as a UI/UX Research Assistant at UChicago's Actuated Experiences Lab, where I got to dive into an HCI project and even co-authored a paper for submission to TEI.
                
                Outside of academics, I'm all about chess, diving, yoga, and exploring national parks. You can find more about me and my projects at www.lindstromhci.com.
            </p>
            <p id = "readMore" onclick= "readMore()">Read More</p>
            <p id = "moreTxt" class="more"> Additional Intro Text</p>
            <p id = "readLess" class="more" onclick="readLess()">Read Less</p>
        </div>
           
    </div>
    <footer>
        <p><a>Jonathan Lindstrom &copy</a></p>
    </footer>
</body>
</html>